.footer-color{
   
    border: 200px solid #ff5367;
              border-radius: 20px;
              margin-right: 0px;
              margin-left: 60px;
              margin-top:220px;
            

  }
  .about-us{
    margin-left: 240px;
    font-size:18px
  }
  .contact-us{
    margin-left:100px;
    font-size:18px;
  }
  .follow-us{
    margin-left: 240px;
    font-size:18px
  }

 
  .footer-text{
    color:white;
    margin-left: 320px;
    margin-right: 90px;
    margin-top: -320px;
    margin-bottom: 0px;   
  }
  .border-footer{
   width:400px;
    border: 20px solid white;
    border-radius: 30px;
    margin-right: 0px;
    margin-left: 330px;
    margin-top:10px;


  }
  .line-styling{
    border: 0.5px solid #E6E6E6;
    margin-top:20px;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
  }
  .insight-styling{
      color: white;
      margin-left: 180px;
  }
  .p-styling{
      color: white;
      margin-left: 180px;
      font-family:fantasy;
  }
  .header-arrow{
      height:50px;
      margin-right: 50px;
  }

  @media screen and (max-width: 820px) {
    .footer-color{
      height:500px;
      margin-right: 30px;

      width: 250px;
    }
    .footer-text{
      display: flex;
      margin-left: 150px;
      margin-top: -480px;
    }
    .border-footer{
      width: 300px;
  display: flex;
  margin-left: 150px;
    }
    .line-styling{
      width:350px
    }
    .border-footer{
      width: 250px;
  display: flex;
  margin-left: 150px;
    }
    .insight-styling{
      margin-top: -35px;
    }
    .p-styling{
      margin-top: -100px;
      font-size: 20px;
    }
    .about-us{
      margin-top: -80px;
    }
    .contact-us{
      margin-top: 10px;
      margin-left: -0px;
      display: flex;
      flex-direction: column;
    }
    .follow-us{
      margin-top: 10px;
      margin-left: -0px;
      display: flex;
      flex-direction: column;
    }
  
    .reality-with{
      display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    .footer-color{
      height:600px;
      width: 250px;
    }
    .footer-text{
      display: flex;
      margin-left: 150px;
      margin-top: -480px;
    }
    .line-styling{
      width:350px
    }
    .border-footer{
      width: 250px;
  display: flex;
  margin-left: 150px;
    }
    .insight-styling{
      margin-top: -35px;
    }
    .p-styling{
     display: none;
    }
    .about-us{
      margin-top: 10px;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
    }
    .contact-us{
      margin-top: 10px;
      margin-left: -0px;
      display: flex;
      flex-direction: column;
    }
    .follow-us{
      margin-top: 10px;
      margin-left: -0px;
      display: flex;
      flex-direction: column;
    }
  
    .reality-with{
      display: none;
    }
  }
  