
.hello-sec{
color:white;
margin-bottom: 40px;
margin-right: 60rem;

}
.round-img {
    width: 400px;
    margin-left: 700px;
    margin-top: 100px;
  }
.icon-1{
    margin-left: 50px;
}
.icon-2{
    margin-top: 90px;

}
.paraghaf-tag{
  color:white;
  height: 800px;
  margin-left: 70px;
  margin-top: -610px;
  margin-bottom: 0px; 
  font-family:fantasy

}
 .roundimg-content {
  color: white;
  height: 700px;
  display: flex;
  margin-top: -310px;
  margin-left: 70px;
  align-items: flex-start;
  margin-bottom: 0px;
} 
@media screen and (max-width: 768px) {
  .mb-2{
    flex-direction: column;
  }
  .about-two{
    width: 100%;
  }
 
}

 .about-button{
  height: 70px;
  width:160px;
  margin-left: 70px;
  margin-top: -1260px;
  color: #2F6BA0;
}
 .about-two{
  height: 70px;
  width:160px;
  margin-left: 270px;
  margin-top: -1320px;
} 
