* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}


.round-img {
  width: 400px;
  margin-left: 700px;
  margin-top: 100px;
}
.cards {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
/* .group-Img {
  margin-left: 30px;
  height: 500px;
  width: 500px;
  margin-top: 150px;
} */
/* .portfolio-color {
  background-color: #f3e4c7 !important;
  margin-top: 100px;
  height: 350px;
  margin-right: 60px;
  border-radius: 25px;
} */
.portfolio-img {
  height: 700px;
  margin-left: 670px;
  margin-top: -360px;
  margin-bottom: 0px;
}
.edu-template {
  background-color: #e3cef6;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  float: right;
  width: 90%;
  height: 400px;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.edu-img {
  max-width: 100%;
}
.template-setting {
  color: blue;
  display: flex;
}
.portfolio-setting {
  color: #ea8a16;
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-left: 210px;
  padding-top: 60px;
}
.card-setting {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-left: 210px;
  padding-top: 290px;
}
.card-img {
  height: 10%;
  width: 10%;
}
.roundimg-content {
  color: white;
  height: 700px;
  margin-left: -590px;
  margin-top: -310px;
  margin-bottom: 0px;
}
.about-button {
  height: 70px;
  width: 170px;
  margin-left: 350px;
  margin-top: -1260px;
  color: #2f6ba0;
}
.about-two {
  height: 70px;
  width: 160px;
  margin-left: 170px;
  margin-top: -1320px;
}
.paraghaf-tag {
  color: white;
  height: 800px;
  margin-left: 70px;
  margin-top: -610px;
  margin-bottom: 0px;
}

.card-1 {
  margin-top: 30px;
  width: 240px;
  height: 250px;
}
.card-2 {
  margin-top: 130px;
  width: 240px;
  height: 250px;
}
.card-3 {
  margin-top: 30px;
  width: 240px;
  height: 250px;
}
.card-4 {
  margin-top: 130px;
  width: 240px;
  height: 250px;
}
.design-styling {
  color: #ff5367;
  font-size: 25px;
}
/* global class */

.width-100 {
  width: 100%;
}
